# ========================================
# Crehana Environment Configuration
# ========================================

# Environment Configuration
NEXT_PUBLIC_ENVIRONMENT=

# API Configuration
NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_FLAG_CDN_URL=